.Connexion{
  border: 1px red solid;
  background-color: #fff;
}
.connexionBox{
  margin-top: 400px;
  position: absolute;
  margin-left: 600px;
}
.container{
  position: absolute;
  margin-top: 400px;
  margin-left: 400px;
}
.user-message-blue{
  color: red;
}